.header {
  width: 100%;
  height: 3.75rem;
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0px 2px 22.5px 0px #1C1D1F0D;
  padding: 0 1rem;
}

.header__logo {
  width: 7.25rem;
  height: 1.875rem;
  display: flex;
  align-items: center;
}

.header__about_me {
  font-family: var(--font-main);
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
  display: flex;
  gap: 1rem;
  align-items: center;
}
.header__about_me span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header__text_grey {
  color: var( --color-gray);
}